@()
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Play REST API</title>
  </head>

  <body>
    <h1>Play Scala REST API</h1>

    <p>
      Welcome!!
    </p>

    <ul>
      <li><a href="/v1/posts"> POST API - Sample  </a></li>
      <li><a href="/ping"> GET API - Ping </a></li>
      <li><a href="/getEmp/:id"> GET API - Employee </a></li>
      <li><a href="/getEmployees"> GET API - Employees </a></li>
      <li><a href="/postEmp/:name/:company"> POST API - Employee</a></li>
      <li><a href="/saveEmp"> SAVE EMP POST API - Employee </a></li>
      <li><a href="/putEmployee"> PUT API - Employee </a></li>
    </ul>
  </body>
</html>
